Final Deliverables/Final code/Node-red-UI.json
[
    {
        "id": "772ba0efeb30c3c6",
        "type": "tab",
        "label": "IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74d2c457369f9f98",
        "type": "inject",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "c8a2dc273924fe60"
            ]
        ]
    },
    {
        "id": "c8a2dc273924fe60",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "timeFunction",
        "func": "\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimeZoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString();\nvar date = n.slice(0,10);\nvar time = n.slice(11,16);\nglobal.set('time',time);\nmsg.payload = date + \" \" + time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 40,
        "wires": [
            [
                "49828d64e64fff84"
            ]
        ]
    },
    {
        "id": "49828d64e64fff84",
        "type": "cloudant in",
        "z": "772ba0efeb30c3c6",
        "name": "medicine",
        "cloudant": "",
        "database": "medications",
        "service": "node-red-frryx-2022--cloudant-1665131455235-12133",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 420,
        "y": 40,
        "wires": [
            [
                "e83f21d1e93fe454"
            ]
        ]
    },
    {
        "id": "e83f21d1e93fe454",
        "type": "switch",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "is null",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "otherwise",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 40,
        "wires": [
            [],
            [
                "032f6c976e6d7fc7"
            ]
        ]
    },
    {
        "id": "032f6c976e6d7fc7",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "msg.payload = {\"command\":msg.payload.mname};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "4c341564f66c4c56",
                "c61453ce912ceec9"
            ]
        ]
    },
    {
        "id": "4c341564f66c4c56",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "c61453ce912ceec9",
        "type": "ibmiot out",
        "z": "772ba0efeb30c3c6",
        "authentication": "apiKey",
        "apiKey": "466840d3b27c292d",
        "outputType": "cmd",
        "deviceId": "12345",
        "deviceType": "NodeMCU",
        "eventCommandType": "cmd",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "3368bb38e9143ae9",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "var d=msg.payload.date;\nvar t = msg.payload.time;\nmsg.payload = {\n    \"_id\" : d +\" \"+t,\n    \"name\" : msg.payload.mname\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 140,
        "wires": [
            [
                "91cb4d75a43c6970",
                "afa12d0a32d700ab"
            ]
        ]
    },
    {
        "id": "2d903e59b4169b40",
        "type": "cloudant out",
        "z": "772ba0efeb30c3c6",
        "name": "medicine",
        "cloudant": "",
        "database": "medications",
        "service": "node-red-frryx-2022--cloudant-1665131455235-12133",
        "payonly": true,
        "operation": "insert",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "91cb4d75a43c6970",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "e20ddb3e70e38323"
            ]
        ]
    },
    {
        "id": "afa12d0a32d700ab",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "e20ddb3e70e38323",
        "type": "delay",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "c0cfd54d4bad4b3f"
            ]
        ]
    },
    {
        "id": "5f34e036f99d0e8f",
        "type": "ui_text",
        "z": "772ba0efeb30c3c6",
        "group": "c65e35ff24555591",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "General Physician",
        "format": "Dr. Vinoth - 8762943506",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 80,
        "wires": []
    },
    {
        "id": "481c1aa6307e0d80",
        "type": "ui_text",
        "z": "772ba0efeb30c3c6",
        "group": "c8375fc927c1b4eb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Orthopedist",
        "format": "Dr. Kathir - 9756423058",
        "layout": "col-center",
        "className": "",
        "x": 1230,
        "y": 40,
        "wires": []
    },
    {
        "id": "8e71feebb056ba63",
        "type": "ui_text",
        "z": "772ba0efeb30c3c6",
        "group": "b39b0c959f2f9d67",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Diabeticist",
        "format": "Dr. Stephen - 7963597560",
        "layout": "col-center",
        "className": "",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "7ba73a7fd3ccd6b7",
        "type": "ui_text",
        "z": "772ba0efeb30c3c6",
        "group": "bbd3a14fee1266d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORTHO",
        "format": "Eat root veggies",
        "layout": "col-center",
        "className": "",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "2cc1c6b37532dde8",
        "type": "ui_text",
        "z": "772ba0efeb30c3c6",
        "group": "db51e34f28d951bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TYPE 2 DIABETICS",
        "format": "Take Sweet potatoes and nuts",
        "layout": "col-center",
        "className": "",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "de4beeb347c3bb96",
        "type": "ui_text",
        "z": "772ba0efeb30c3c6",
        "group": "1b818abb6c71b0b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ASTHMA PATIENTS",
        "format": "Eat Omega-3 fatty acids rich food",
        "layout": "col-center",
        "className": "",
        "x": 1260,
        "y": 240,
        "wires": []
    },
    {
        "id": "3445b1bc227426f7",
        "type": "ui_button",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "group": "4006abb73245ff99",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "REGISTER",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "REGISTER",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "0ba257e81bdad4f4"
            ]
        ]
    },
    {
        "id": "0650dadc9f98c82b",
        "type": "ui_button",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "group": "4006abb73245ff99",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LOGIN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "LOGIN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "0ba257e81bdad4f4"
            ]
        ]
    },
    {
        "id": "0ba257e81bdad4f4",
        "type": "ui_ui_control",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "events": "change",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "7caeeb89712cebfd"
            ]
        ]
    },
    {
        "id": "5db2df3b7f0b7f91",
        "type": "ui_form",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "label": "LoginForm",
        "group": "876611f251aa851a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "pwd",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "pwd": ""
        },
        "payload": "",
        "submit": "HOME",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "355425b69e2759ef",
                "99d6dbd3d7672bd2"
            ]
        ]
    },
    {
        "id": "2f8194b073afa5f3",
        "type": "ui_form",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "label": "Enter your details",
        "group": "6eae6ed0cbde419d",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "uname1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Mobile Number",
                "value": "mobnum",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": false,
                "rows": null
            },
            {
                "label": "Password",
                "value": "pwd1",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname1": "",
            "mobnum": "",
            "email": "",
            "pwd1": ""
        },
        "payload": "",
        "submit": "Register",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "73c07523ebdc3b84",
                "99a3a7dee08dc495",
                "5e6d20adeb894548"
            ]
        ]
    },
    {
        "id": "7caeeb89712cebfd",
        "type": "switch",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "\"REGISTER\"",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "\"LOGIN\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "2f8194b073afa5f3"
            ],
            [
                "5db2df3b7f0b7f91"
            ]
        ]
    },
    {
        "id": "73c07523ebdc3b84",
        "type": "cloudant out",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "cloudant": "",
        "database": "newusers",
        "service": "node-red-frryx-2022--cloudant-1665131455235-12133",
        "payonly": true,
        "operation": "insert",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "99a3a7dee08dc495",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "c0cfd54d4bad4b3f",
        "type": "ui_form",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "label": "Medications",
        "group": "5f5120bb7e50aed4",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Medicine name",
                "value": "mname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Date",
                "value": "date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Time",
                "value": "time",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "mname": "",
            "date": "",
            "time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "986b8511c38f7b47",
                "bd23ee3b066ed3bd",
                "34988011c7c5ca64",
                "cc5c4fcb7d32be59",
                "3368bb38e9143ae9"
            ]
        ]
    },
    {
        "id": "986b8511c38f7b47",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "34988011c7c5ca64",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "\nvar medicinename = {};\nmedicinename.a = \"Its time to take \"+msg.payload.mname;\nglobal.set(\"mname\", medicinename);\n\nmsg.payload = \n{\n    'medicine': msg.payload.mname,\n    'global' : global.get(\"mname\")\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 480,
        "wires": [
            [
                "433f937f8962e549"
            ]
        ]
    },
    {
        "id": "433f937f8962e549",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 480,
        "wires": []
    },
    {
        "id": "4e810742a78cb1e9",
        "type": "ui_audio",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "group": "5f5120bb7e50aed4",
        "voice": "Google UK English Female",
        "always": "",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "a72b31b145f77ceb",
        "type": "ui_button",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "group": "5f5120bb7e50aed4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "speech",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mname.a",
        "payloadType": "global",
        "topic": "payload",
        "topicType": "msg",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "4e810742a78cb1e9"
            ]
        ]
    },
    {
        "id": "b1947670a172ce2b",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 935,
        "y": 300,
        "wires": [],
        "l": false
    },
    {
        "id": "355425b69e2759ef",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "auth",
        "func": "var username =msg.payload.uname;\nvar dbusername = msg.payload.uname1;\n\nmsg.payload = {\n    'username in form': msg.payload.uname,\n    'username in db': msg.payload.uname1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 300,
        "wires": [
            [
                "b1947670a172ce2b"
            ]
        ]
    },
    {
        "id": "99d6dbd3d7672bd2",
        "type": "ui_button",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "group": "876611f251aa851a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GO TO HOME",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "HOME",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 340,
        "wires": [
            [
                "b8f1777e69b6feae"
            ]
        ]
    },
    {
        "id": "b8f1777e69b6feae",
        "type": "ui_ui_control",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "events": "all",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "c0cfd54d4bad4b3f"
            ]
        ]
    },
    {
        "id": "259efeaed660d9bc",
        "type": "moment",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "topic": "timeformatter",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Asia/Kolkata",
        "adjAmount": "330",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Asia/Kolkata",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "4b4accae74b5c63a"
            ]
        ]
    },
    {
        "id": "bd23ee3b066ed3bd",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "timeinput",
        "func": "\nvar d=msg.payload.date;\nvar t = msg.payload.time;\nmsg.payload = {\n    \"_id\" : d +\" \"+t,\n    \"date\" : d,\n    \"time\" : t,\n    \"name\" : msg.payload.mname\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 420,
        "wires": [
            [
                "7be0c5b989882cf5",
                "2d903e59b4169b40"
            ]
        ]
    },
    {
        "id": "ec7f450ec4d4d23b",
        "type": "debug",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b4accae74b5c63a",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "var time = msg.payload;\nvar d = new Date();\n//db time\nvar dbTime= d.getTime(time);\n//current time \nvar currentTime = d.getTime();\n\n/* time compare\nmsg.payload = {\n    'db': dbTime,\n    'current':currentTime\n}*/\n\n/*if ( dbTime == currentTime)\n{\n   msg.payload.action = on;\n}\n\nelse\n{\n   msg.payload.action = off;\n   msg.payload = \"Remainder is set successfully..!\";\n}*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "81ca02962a59d0cc",
                "ec7f450ec4d4d23b"
            ]
        ]
    },
    {
        "id": "81ca02962a59d0cc",
        "type": "switch",
        "z": "772ba0efeb30c3c6",
        "name": "check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "adadc83750d91014"
            ]
        ]
    },
    {
        "id": "433f832726c64e56",
        "type": "eztimer",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "debug": false,
        "autoname": "dawn",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "manual",
        "latLongHaZone": "zone.home",
        "lat": "20.5937",
        "lon": "78.9629",
        "timerType": "2",
        "startupMessage": true,
        "ontype": "1",
        "ontimesun": "dawn",
        "ontimetod": "17:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": "1",
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "1",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "a72b31b145f77ceb"
            ]
        ]
    },
    {
        "id": "adadc83750d91014",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "msg.payload =msg.payload.action;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "433f832726c64e56",
                "4e51b2cb766fdc5f"
            ]
        ]
    },
    {
        "id": "cc5c4fcb7d32be59",
        "type": "ibmiot out",
        "z": "772ba0efeb30c3c6",
        "authentication": "apiKey",
        "apiKey": "466840d3b27c292d",
        "outputType": "cmd",
        "deviceId": "12345",
        "deviceType": "2.2.2",
        "eventCommandType": "NodeMCU",
        "format": "json",
        "data": "payload",
        "qos": 0,
        "name": "IBM IoT",
        "service": "",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e6d20adeb894548",
        "type": "ui_toast",
        "z": "772ba0efeb30c3c6",
        "position": "top right",
        "displayTime": "0.2",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Registered..!",
        "name": "",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "b7394dc8ea40a894",
        "type": "ui_button",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "group": "2a06614fef005d29",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "View My Account",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WELCOME PAGE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "3519f78386229421"
            ]
        ]
    },
    {
        "id": "3519f78386229421",
        "type": "ui_ui_control",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "events": "all",
        "x": 140,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e51b2cb766fdc5f",
        "type": "trigger",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "op1": "",
        "op2": "It's time to take Sleep dose",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 690,
        "y": 660,
        "wires": [
            [
                "4e810742a78cb1e9"
            ]
        ]
    },
    {
        "id": "7be0c5b989882cf5",
        "type": "function",
        "z": "772ba0efeb30c3c6",
        "name": "",
        "func": "msg.payload = msg.payload.time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "259efeaed660d9bc"
            ]
        ]
    },
    {
        "id": "4d529e9ae98d1130",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "5f5120bb7e50aed4",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "823fcb3a0551c8a0",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "5f5120bb7e50aed4",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "20f632eba8223aa2",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "b39b0c959f2f9d67",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6a3a03a5158e28b",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "61e6d4c4.e7619c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2744c1e60d8165fc",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "bbd3a14fee1266d4",
        "order": 2,
        "width": "1",
        "height": "1"
    },
    {
        "id": "8bc329d3978b20cb",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "1b818abb6c71b0b2",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d35fb745bc134200",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "db51e34f28d951bc",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5f4bc88a9c289aa",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "c65e35ff24555591",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fd3e168ce8bffda7",
        "type": "ui_spacer",
        "z": "772ba0efeb30c3c6",
        "name": "spacer",
        "group": "c8375fc927c1b4eb",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "466840d3b27c292d",
        "type": "ibmiot",
        "name": "Watson",
        "keepalive": "60",
        "serverName": "",
        "cleansession": false,
        "appId": "",
        "shared": false
    },
    {
        "id": "c65e35ff24555591",
        "type": "ui_group",
        "name": "GENERAL PHYSICIAN",
        "tab": "3a65061d26bf9466",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8375fc927c1b4eb",
        "type": "ui_group",
        "name": "ORTHOPEDIST",
        "tab": "3a65061d26bf9466",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b39b0c959f2f9d67",
        "type": "ui_group",
        "name": "DIABETIST",
        "tab": "3a65061d26bf9466",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbd3a14fee1266d4",
        "type": "ui_group",
        "name": "FOOD FOR YOU",
        "tab": "05a54edb77c2b875",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db51e34f28d951bc",
        "type": "ui_group",
        "name": "FOOD FOR YOU",
        "tab": "05a54edb77c2b875",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b818abb6c71b0b2",
        "type": "ui_group",
        "name": "FOOD FOR YOU",
        "tab": "05a54edb77c2b875",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4006abb73245ff99",
        "type": "ui_group",
        "name": "New user Or Old user",
        "tab": "2863b8bb54864aa3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "876611f251aa851a",
        "type": "ui_group",
        "name": "Login",
        "tab": "1f949d50c69b978f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6eae6ed0cbde419d",
        "type": "ui_group",
        "name": "User Details",
        "tab": "fe87a3aec4690274",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f5120bb7e50aed4",
        "type": "ui_group",
        "name": "Medicine Storage",
        "tab": "5a2367a8a72352fd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a06614fef005d29",
        "type": "ui_group",
        "name": "My account",
        "tab": "054b3b226a06a861",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61e6d4c4.e7619c",
        "type": "ui_group",
        "name": "TEST",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "3a65061d26bf9466",
        "type": "ui_tab",
        "name": "CONSULTANTS",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05a54edb77c2b875",
        "type": "ui_tab",
        "name": "WHAT TO EAT??",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2863b8bb54864aa3",
        "type": "ui_tab",
        "name": "WELCOME PAGE",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1f949d50c69b978f",
        "type": "ui_tab",
        "name": "LOGIN",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "fe87a3aec4690274",
        "type": "ui_tab",
        "name": "REGISTER",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5a2367a8a72352fd",
        "type": "ui_tab",
        "name": "HOME",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "054b3b226a06a861",
        "type": "ui_tab",
        "name": "ACCOUNT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]